.loading {
    width: 100%;
    height: 100vh;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart {
    padding-left: 5%;
    padding-right: 5%;
}

@media (max-width: 700px) {
    .chart {
        padding-left: 3%;
        padding-right: 3%;
    }
}

.value {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.value h2 {
    font-size: 60px;
    margin-right: 20px;
}

.value h3 {
    font-size: 35px;
}

@media (max-width: 700px) {
    .value {
        margin-left: 3%;
    }

    .value h2 {
        font-size: 36px;
        margin-right: 14px;
    }

    .value h3 {
        font-size: 20px;
    }
}

.body {
    background-color: rgb(14, 15, 20);
    width: 100%;
    color: rgb(236, 236, 236);
}


.table {
    width: 100%;
    text-align: center;
}

th {
    font-size: 24px;
    color: rgb(95, 93, 125);
}

td {
    height: 36px;
    font-size: 18px;
}

.label {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: rgb(95, 93, 125);
}

@media (max-width: 700px) {
    th {
        font-size: 10px;
    }

    td {
        font-size: 7px;
    }

    .label {
        font-size: 14px;
    }
}

.percentage {
    font-weight: 800;
}